@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900&display=swap');

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #101720;
}

::-webkit-scrollbar-thumb {
    background: #353C43;
    cursor: pointer;
}


:root{
	/*fonts*/
	--primary-font: 'Open Sans', sans-serif;
	--title-font: 'Montserrat', sans-serif;

	/*colors*/

	--primary-color:white;
	--color-alt:#6F6DF2;
	--primary-background:#030b14;


	--blue:#c6f0f5;
	--gray:#263238;
	--gradient: linear-gradient(315deg, var(--color-alt) 0%, var(--primary-color) 74%);
	


	/*easing*/
	--easing: cubic-bezier(0.4, 0.0, 0.2, 1);
}


*{
	box-sizing: border-box;
}

body{
	position: relative;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	font-size: 16px;
	
	
}

#checkbox_id:checked + .wrapper{
	--primary-background:#EFFBFB;
	--primary-color:black;
}

#checkbox_id{
    display:none;
}


/*typography*/


a{
	color: #fff;
	text-decoration: none;
}


h1, h2, h3, h4, h5{
	font-family: var(--title-font);
	color: var(--primary-color);
	font-weight: 500;
}



.wrapper{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background:var(--primary-background);
	color:var(--primary-color);
}


/*header*/

header{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
header .logo a{
	display: block;
	padding: 20px 0;
}
header .logo img{
	max-height: 80px;
}

header nav{
	position: relative;
	width: 100%;
	background: rgba(255,255,255,0.05);
}
nav ul{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	list-style: none;
	flex-wrap: wrap;
	color:var(--primary-color);

}
.menu-item{
	display: block;
	color:var(--primary-color);
}
.menu-item a{
	position: relative;
	display: block;
	padding: 25px; 
	margin: 0 10px;
	text-transform: uppercase;
	color: var(--primary-color);
	font-weight: 500;
	font-family: var(--title-font);
	transition: 0.3s var(--easing);
	
}
.menu-item a:hover{
	background: rgba(255,255,255,0.05);
}


/*aside*/

aside{
	position: relative;
	width: 350px;
	padding: 20px;
	padding-top: 100px;
}


form.search{
	display: flex;
}


input[type="search"]{
	border: 2px solid rgba(255,255,255,0.2);
	background: rgba(255,255,255,0.05);
	padding: 10px 20px;
	width: 100%;
	outline: 0;
	color: inherit;
	font-family: inherit;
}
.search-submit{
	background: rgba(255,255,255,0.2);
	color:var(--primary-color);
	border: 0;
	padding: 0 10px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*main*/

main{
	position: relative;
	width: calc(100% - 350px);
	padding: 20px;
	color:var(--primary-color);
}
main > section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
    width: 100%;
    margin: auto;
}
main > section > h1{
	width: 100%;
	text-align: center;
	position: relative;
	margin: 0;
	padding: 100px 0;
	font-size: 38px;


}

article.post{
	position: relative;
	width: 50%;
	min-height: 400px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	
}
article.post h2{
	font-size: 32px;
	padding: 30px 0;
	width: 100%;
	text-align: center;
	
}
article.post > p{
	padding: 20px 0;
	text-align: center;
	
}
article.post .comments{
	display: none;
}
article.post > a > img{
	position: absolute;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	top: 10px;
	left: 10px;
	z-index: -1;
	-webkit-filter: brightness(0.5);
	        filter: brightness(0.5);
	-o-object-fit: cover;
	   object-fit: cover;
	  

}
article.post .date:before,
article.post .author:before{
	content: "\f017";
	position: relative;
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	padding-right: 5px;
	font-size: 1em;
	
}
article.post .author:before{
	content: "\f007";
}
article.post .date,
article.post .author{
	width: 50%;
	font-size: 0.8em;
	font-family: var(--title-font);
	font-weight: 500;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	
}
article.post .author a{
	margin-left: 5px;
	color: var(--primary-color);
}

article .view-article{
	position: absolute;
	bottom:10px;
	left: 10px;
	width: calc(100% - 20px);
	padding: 15px 0;
	text-align: center;
	background: var(--blue);

	opacity: 0;
	transition: 0.3s var(--easing);
	color:var(--primary-color);
}
article.post:hover .view-article{
	opacity: 1;
	color: var(--primary-color);
}




img{
	max-width: 100%;
}





/*footer*/



footer{
	position: relative;
	width: 100%;
	padding: 60px 10px;
	text-align: center;
	color:var(--primary-color);
}



@media (max-width: 1024px){
	main, 
	aside{
		width: 100%;
	}
	main{
		order:2;
	}
	aside{
		order: 1;
	}
	footer{
		order:3;
	}
}

@media (max-width: 600px){
	article.post{
		width: 100%;
	}
}